<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Belot-Card-Game.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>231DB62C2E7EE16D0003BAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231DB6392E7EE16E0003BAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231DB6432E7EE16E0003BAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
